.frontface {
  height: 100vh;
  background: url(../rsrcs/bg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  overflow: hidden;
}


.frontface-content {
  color: white;
  position: absolute;
  top: 20%;
  left: 50px;
  width: 50%;
}

.frontface-content h1 {
  font-size: 145px;
  line-height: 130px;
  letter-spacing: -8px;
  text-transform: uppercase;
  font-weight: 800;
}

.separator {
  border-top: 3px solid #ffe600;
  width: 200px;
  margin: 40px 0;
}

.frontface-description {
  font-size: 24px;
  font-weight: bold;
}

.frontface-bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}


.section {
  padding: 90px 50px;
  font-size: 18px;
}

.punchline {
  font-size: 43px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.05;
  letter-spacing: -1.5px;
  margin: 10px auto 35px;
}


.cols-sec h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px auto 10px;
  color: #023575;
  letter-spacing: 0;
  text-decoration: none;
  line-height: 1.3;
  margin: 15px 0;
}

.para {
  font-size: 16px;
  color: #758495;
  font-weight: 500;
  line-height: 1.5;
}


.numbers-sec .h3 {
  text-align: center;
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: -2.5px;
  line-height: 1;
  margin: 0 auto -10px;
  padding-top: 10px;
  color: white;
  text-transform: uppercase;
}


.numberCol {
  color: white;
  font-weight: bold;
  text-align: center;
}

.numberCol p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

/* .numberCol span{
  font-size: 28px;
} */

.red-color {
  color: #ef323a;
}

.brandCol img {
  width: 50%;
}

.footer {
  margin: 0 auto 0;
  clear: both;
}

.footer .inner-footer {
  background: #fff;
  padding: 100px 50px;
  border-top: 1px solid #e5e5e5;
}

.contact-col {
  min-width: 21%;
}

.footer-head {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  margin: 5px auto 10px;
  color: #ef323a;
  margin: 0 auto 10px;
  display: inline-block;
}

footer a {
  color: white;
}

.estimate {
  background: white;
  padding: 7px;
  color: black;
  border-radius: 9px;
}

@media only screen and (max-width: 768px) {

  .frontface-content h1 {
    font-size: 45px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  .frontface-description {
    font-size: 16px;
  }

  .frontface-content {
    top: 28%;
    left: 10%;
    width: 80%;
  }

  .section {
    padding: 50px;
  }

  .punchline {
    font-size: 30px;
  }

  .numbers-sec .h3 {
    font-size: 30px;
  }

  .brandCol{
    width:50% !important;
  }

  .punchline{
      text-align: center;
  }

  .servicesSec .cols{
    margin-top:50px;
    text-align:center;
  }

  .numberCol:not(:first-child){
   border-top:0.1px solid white;
   padding:20px;
  }

  .brandCol img{
    margin-top: 0 !important;
  }

  .brandCol:nth-child(n+3){
    margin-top:20px;
  }

}

.bg-dark{
    background-color: #000 !important;
}
